body{background-color: white; background:url("img/bg-2col-top.png") no-repeat; font-family:Arial}

//header
#header-img {float:left;}
#header-img img{display:block; height:100px; width: 234px; float:left;}
#header-img h1{float:left;}
#header-img h1 a{underline:none; font-color:white;}

#header-links{position:relative; clear:left; margin-top:50px; margin-left:300px;}
#header-links a{padding:5px;margin-right:30px; color:white;text-decoration:none;}
#header-links a:hover{background-color:black;}

#team-member{float:left;}
#team-member img{height:150px}

#main-form {clear:left; margin-left:300px; margin-top:50px;}

#error{color:white; }

.datatable table, th, td{border:1px solid black;}
.datatable td img{width:50px;}
.datatable{background-color:white; position:relative; top:50px; margin-left: 300px; width:500px;}

.datatable-trainers table, th, td{border:1px solid black;}
.datatable-trainers td img{width:50px;}
.datatable-trainers {background-color:white; position:relative; width:500px;}

.bold{font-weight:bold;}
.clear-left{clear:left;}

.grass{background-color:green;}
.fire{background-color:red;}
.water{background-color:blue;}
.electric{background-color:yellow;}
.bug{background-color:#00FF00;}
.flying{background-color:#00FFFF;}
.normal{background-color:#C0C0C0;}
.poison{background-color:purple;}
.ground{background-color:brown;}
.fighting{background-color:orange;}
.rock{background-color:brown;}
.psychic{background-color:#EE82EE;}
.dragon{background-color:green;}
.ice{background-color:#00FFFF;}

/*#main{overflow:auto;min-height:700px;}*/
/*#footer{clear:both;margin-top:-180px;position:relative;width:100%; height:400px; background:url("img/bg-2col-bot.png") no-repeat;}*/